PORT=3000

MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

MQTT_TOPIC_PREFIX=traffic/intersection1
SNAPSHOT_TOPIC=robot/camera/snapshot

ESP32_TIMEOUT_MS=10000
AUTO_PHASE_COMMAND_COOLDOWN_MS=2000
AUTO_TARGET_GREEN_TIME_MS=8000